@import 'footer.css';
@import 'header.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #023047;
}

main {
  flex: auto;
  padding: 3em 2em;
}

h1, h2 {
  text-align: center;
  margin: 3rem 0 1rem;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.2rem;
}

p {
  margin-bottom: 1em;
}

a {
  color: #0076D1;
}

a:hover {
  color: #df7700;
}

.section {
  max-width: 800px;
  margin: 4rem;

}

.text-center {
  text-align: center;
}

.center {
  margin: 4rem auto;
}

@media only screen and (max-width: 655px) {
  h1, h2 {
    font-size: 2rem;
  }

  main {
    padding: 0 2rem;
  }
}
